<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>text to specch</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<inp>
		<h1>A Text to Speech Project</h1>
		<span>Using Speak Synthesis</span>
		<textarea name="input" id="talk" cols="30" rows="10"></textarea>
		<!-- <input id="talk" type="text" placeholder="Enter Your Text"> -->
		<button id="speak">Speak</button>
		<h2 id="speakHere">Display Here</h2>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
